[user]
  name = kiharito
  email = kiharito@users.noreply.github.com

[core]
  editor = nvim
  pager = delta

[pull]
  ff = only

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true
  dark = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[push]
  autoSetupRemote = true

[fetch]
  prune = true
