" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" Options
set scrolloff=5
set incsearch
set hlsearch
set clipboard+=unnamed,unnamedplus
set nrformats=""
set expandtab
set tabstop=2
set shiftwidth=2
set softtabstop=2

" Don't use Ex mode, use Q for formatting.
map Q gq

" Plugins
set commentary
set highlightedyank
set easymotion
set multiple-cursors
" set surround
" set argtextobj
" set textobj-entire
" set ReplaceWithRegisterj

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence

nmap <C-Down> <Action>(EditorCloneCaretBelow)
nmap <C-Up> <Action>(EditorCloneCaretAbove)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
