" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" Options
set notimeout
set timeoutlen=5000
set scrolloff=5
set incsearch
set hlsearch
set clipboard+=unnamed,unnamedplus
set nrformats=""
set expandtab
set tabstop=2
set shiftwidth=2
set softtabstop=2

" Don't use Ex mode, use Q for formatting.
map Q gq

" Plugins
set commentary
set highlightedyank
set NERDTree
set which-key
" set easymotion
" set multiple-cursors
" set surround
" set argtextobj
" set textobj-entire
" set ReplaceWithRegisterj

" LazyVimと使い勝手を揃えたい
let mapleader = ' '
" General
nmap <leader>cf <Action>(ReformatCode)
nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)
nmap <leader>bd <Action>(CloseContent)
" LSP
nmap <leader>cr <Action>(RenameElement)
" bufferline.nvim
nmap <leader>bo <Action>(CloseAllEditorsButActive)
nmap <leader>bp <Action>(PinActiveEditorTab)
nmap <leader>bP <Action>(CloseAllUnpinnedEditors)
" neo-tree.nvim
nmap <leader>e :NERDTreeToggle<CR>
" telescope.nvim
map <leader><space> <Action>(SearchEverywhere)
map <leader>ff <Action>(SearchEverywhere)
map <leader>/ <Action>(FindInPath)
" other
nmap <leader>r <Action>(Run)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
